Problem Statement 1:
You survey households in your area to find the average rent they are paying. Find the
standard deviation from the following data:
$1550, $1700, $900, $850, $1000, $950.

In [1]:
import statistics
Rent_lst = [1550,1700,900,850,1000,950]

q= statistics.stdev(Rent_lst)

print('The standard deviation of the surveyed households is:\n',q)

The standard deviation of the surveyed households is:
 367.9900360969936

Problem Statement 2:
Find the variance for the following set of data representing trees in California (heights in
feet):
3, 21, 98, 203, 17, 9

In [18]:
trees_lst =[3,21,98,203,17,9]
a= statistics.variance(trees_lst)
print('The variance for the above set is as below:\n',a)

The variance for the above set is as below:
 6219.9

Problem Statement 3:
In a class on 100 students, 80 students passed in all subjects, 10 failed in one subject, 7
failed in two subjects and 3 failed in three subjects. Find the probability distribution of
the variable for number of subjects a student from the given class has failed in.

In [2]:
import numpy as np
import pandas as pd
import scipy.stats as stats
list=[0.1,0.03,0.07,0.8]
df = pd.DataFrame(list)
display(df.describe())

#For a random student, 

#The probability of failing in 0 subjects, P(X=0) = 0.2

#The probability of failing in 1 subjects, P(X=1) = 0.1

#The probability of failing in 2 subjects, P(X=2) = 0.07

#The probability of failing in 3 subjects, P(X=3) = 0.03

              0
count  4.000000
mean   0.250000
std    0.367786
min    0.030000
25%    0.060000
50%    0.085000
75%    0.275000
max    0.800000

In [8]:

mean = 0.250000
standard_deviation = 0.367786
# For accurate values * 100
# 25.00 & 36.7786

# Cummilative Denisty Function
stats.norm(25.00,36.7786).cdf(80)

0.9325995038793089

In [10]:
# Probability Denisity Function
stats.norm(25.00,36.7786).pdf(80)

0.00354570816069708